@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, #14108d, #a513e9)
}

.active{
  background: #c207bc;
  border-radius: .5em;
}

.navbar {

  text-align: right;
  margin-top: 0;
  z-index: 3;
 
}

.navbar-brand{
  color: white !important;
  
  
}
span{
  color: #c207bc;
}
ul li a{
  color: white !important;
}

h2 a{
  text-decoration: none;
  
  color: #14108d;
}

.text h2{
  text-align: center;
  padding: 1em 0;
}


#empresa{
  text-align: center;
  justify-content: center;
  height: fit-content;
  margin-top: -34em;
  transform: rotate(360deg);
  color:#14108d;
  font-size: bold;
  font-family: "poppins";
  text-shadow: 3px 3px 3px #c207bc;

}
.destacados{
  text-align: center;
  margin-top: 7em;
  color: white;
  
  padding: 2em;
}

#content .product {
  background: #e6e6e6;
  border: solid 1px #858585;
  box-sizing: border-box;
  margin-bottom: 30px;
}

#content .product .text p.price {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}

#content .product .text .buttons {
  clear: both;
  text-align: center;
}

#content .product .text h3 {
  text-align: center;
  font-size: 20px;
}

#content .product .text h3 a {
  color: rgb(85, 85, 85);
  text-decoration: none;
}

#content .product .text {
  padding: 10px 10px 0px;
}

#content .product .text .buttons .btn {
  margin-bottom: 10px;
}
.img-responsive{
  max-width: 320px;
  margin-top: 1em;

}

.buttons{
  background:#14108d;
  border-radius: .5em;
 
  

}
.buttons a{
  color: white;
  margin-top: .5em;
}

.foot{
  
  /*background: #837f83;*/
  margin: auto -7.2em;
  padding-top: 2em;
  padding-left: 7em;
  padding-right: 1em;
  color: aliceblue;
 
}

.redes i{
  margin-right: 1em;
  
}
.redes p{
  margin-top: 1em;
  
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

label{
  color: white;
}

 .contacto{
  margin-bottom: 5em;
}

#content{
  border-radius: .5em;
}